<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container text-center mt-3 border-opacity-75">
  <div class="row">
    <input type="text" class="form-control pantalla rounded-0" [(ngModel)]="pantallaOp" readonly id="pantallaOp"/>
  </div>
  <div class="row">
    <input type="number" class="form-control pantalla rounded-0" [(ngModel)]="pantalla" value="0" id="pantalla"/>
  </div>

  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col boton"><button type="button" class="btn btn-dark neg rounded-0" (click)="num('9')">9</button></div>
        <div class="col boton"><button type="button" class="btn btn-dark neg rounded-0" (click)="num('8')">8</button></div>
        <div class="col boton"><button type="button" class="btn btn-dark neg rounded-0" (click)="num('7')">7</button></div>
      </div>
      <div class="row">
        <div class="col boton"><button type="button" class="btn btn-dark neg rounded-0" (click)="num('6')">6</button></div>
        <div class="col boton"><button type="button" class="btn btn-dark neg rounded-0" (click)="num('5')">5</button></div>
        <div class="col boton"><button type="button" class="btn btn-dark neg rounded-0" (click)="num('4')">4</button></div>
      </div>
      <div class="row">
        <div class="col boton"><button type="button" class="btn btn-dark neg rounded-0" (click)="num('3')">3</button></div>
        <div class="col boton"><button type="button" class="btn btn-dark neg rounded-0" (click)="num('2')">2</button></div>
        <div class="col boton"><button type="button" class="btn btn-dark neg rounded-0" (click)="num('1')">1</button></div>
      </div>
      <div class="row">
        <div class="col boton"><button type="button" class="btn btn-dark neg rounded-0" (click)="punto()">.</button></div>
        <div class="col boton"><button type="button" class="btn btn-dark neg rounded-0" (click)="num('0')">0</button></div>
        <div class="col boton"><button type="button" class="btn btn-dark neg rounded-0" (click)="num('00')">00</button></div>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col boton">
          <button type="button" class="btn btn-success verd rounded-0" (click)="del()">DEL</button>
        </div>
      </div>
      <div class="row">
        <div class="col boton">
          <button type="button" class="btn btn-success verd rounded-0" (click)="operacion('/')">/</button>
        </div>
      </div>
      <div class="row">
        <div class="col boton">
          <button type="button" class="btn btn-success verd rounded-0" (click)="operacion('*')">x</button>
        </div>
      </div>
      <div class="row">
        <div class="col boton">
          <button type="button" class="btn btn-success verd rounded-0" (click)="operacion('-')">-</button>
        </div>
      </div>
      <div class="row">
        <div class="col boton">
          <button type="button" class="btn btn-success verd rounded-0" (click)="operacion('+')">+</button>
        </div>
      </div>
      <div class="row">
        <div class="col boton">
          <button type="button" class="btn btn-success verd rounded-0" (click)="igual()">=</button>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
